/* Put your custom CSS here */

body {
    font-family: Content-font, Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-heigth: 26px:
	text-rendering: optimizelegibility;
}

.left {
    margin-left: 0px;
}


.c-textbook__sidebar {
	background-color: rgb(221, 221, 221);
}

.c-page__nav__prev, .c-page__nav__next {
	border: 1px solid rgb(230,236,241);
}

.cuidado {
	padding: 1em 1em 1em 4em;
	margin-bottom: 10px;
	background: #f5f5f5 5px center/3em no-repeat;
	background-image: url("../images/cuidado.png");
}

.importante {
    color: rgb(221, 0, 0);
	padding: 1em 1em 1em 4em;
	margin-bottom: 10px;
	background: #f5f5f5 5px center/3em no-repeat;
	background-image: url("../images/note.png");
}