/* Put your custom CSS here */

body {
    font-family: Content-font, Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-heigth: 26px:
	text-rendering: optimizelegibility;
}

.left {
    margin-left: 0px;
}


.c-textbook__sidebar {
	background-color: rgb(221, 221, 221);
}

.c-page__nav__prev, .c-page__nav__next {
	border: 1px solid rgb(230,236,241);
}

.importante {
    font-color: rgb(221, 0, 0);
}